@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: #B9DDFA;
}

.site-heading {
    font-family: 'Jersey 10', serif;
}

h1 {
    font-size: 4rem;
}

.parent-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    gap: 2rem;
}

.login-container p {
    line-height: 1.6;
    font-size: 1.5rem;
}

.info-container {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.img1 {
    max-width: 100%;
}

.img2 {
    justify-self: right;
    max-width: 100%;
}

.login-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 75%;
    justify-self: center;
}

.form-container h2 {
    letter-spacing: .1rem;
    font-size: 4rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.input-container {
    /* margin: 1rem; */
    width: 100%;
    padding: 1rem;
}

.email-add {
    display: flex;
    gap: 2rem;
}

.email-add input {
    flex: 6
}

.email-add button {
    flex: 1
}

.email-list {
    display: flex;
    gap: 2rem;
}

.email-item {
    font-size: 1rem;
    border: 2px solid #008cff;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.form-container label {
    display: block;
    margin-bottom: .2rem;
}

.form-container input {
    height: 1.7rem;
    width: 100%;
}

.input-container:last-child {
    display: flex;
}

.ql-toolbar {
    border: none;
}

.custom-editor .ql-editor {
    background-color: white;
    height: 300px;
}

.button-send {
    background-color: #4464AC;
    color: white;
    border: none;
    min-width: 35%;
    height: 3rem;
    margin: 0 auto;
    font-size: 1.1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.button-send-2 {
    margin-top: 2rem;
    border: 2px solid #4464AC;
    background-color: transparent;
    color: #4464AC;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .img1, .img2 {
        max-width: 55%;
    }

    .custom-editor .ql-editor {
        height: 200px;
    }
}